<div id="<%= dom_id person %>">
  <div>
    <strong>Name:</strong>
    <%= person.name %>
  </div>

  <div>
    <strong>Bio:</strong>
    <%= person.bio %>
  </div>

  <div>
    <strong>Birth date:</strong>
    <%= person.birth_date %>
  </div>

</div>
