<h1>Search results</h1>

<% if @tmdb_results.present? %>
  <ul>
    <% @tmdb_results.each do |m| %>
      <li><%= m['title'] %> (<%= m['release_date'] %>)</li>
    <% end %>
  </ul>
<% else %>
  <p>No results found.</p>
<% end %>

<%= link_to 'Back', root_path %>
