<div id="<%= dom_id user %>">
  <div>
    <strong>Username:</strong>
    <%= user.username %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= user.email %>
  </div>

  <div>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </div>

</div>
